.main-button1 {
    font-family: "bbcNasim",Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 150px;
    background-color: #0076c7;
    padding: 5px;
    color: #fdfdfe;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.main-button2 {
    background-color: #db572e;
}
.link {
    overflow: auto;
    margin-bottom: 5px;
    background-color: rgb(230,230,230);
    border: solid 1px rgb(200,200,200);
    border-radius: 3px;
    padding: 10px;
}
.link-delete {
    float: right;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background:  url('/shared/image/delete16.png');
    direction: ltr;
}
.link-delete:hover {
    background-color: rgb(255,255,255);
}
.link-info {
    padding: 1px 7px 1px 7px;
    float: right;
}
.link-url {
    color: rgb(90,90,90);
}
.add-link {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.field-box {
    overflow: auto;
    border: solid 1px rgb(200,200,200);
    padding: 10px 10px 7px 10px;
    background-color: rgb(250,250,250);
    margin-top: -1px;
}
.field-label {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    float: right;
    display: inline;
    color: rgb(100,100,100);
}
.field {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: rgb(50,50,50);
    direction: rtl;
    text-align: right;
    float: right;
    border: none;
    background-color: transparent;
    margin-top: -2px;
    margin-right: 5px;
    width: 500px;
}