.field-box {
    display: block;
    text-align: right;
    margin-top: 10px;
    overflow: auto;
    border: solid 1px rgb(160,160,160);
}
.field-box label {
    float: right;
    color: rgb(60,60,60);
    background-color: rgb(230,230,230);
    padding: 5px;
    width: 75px;
    margin-left: 5px;
    border-left: solid 1px rgb(160,160,160);
}
.field {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: rgb(30,30,30);
    text-align: right;
    float: right;
    border: none;
    background-color: transparent;
    padding: 3px;
    width: 510px;
}
.delete-link {
    margin-top: 10px;
    color: rgb(0, 115, 165);
    cursor: pointer;
    text-align: left;
}
.delete-main {
    margin: 10px 0 10px 0;
    background-color: rgba(213, 51, 111, 0.07);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(192, 67, 49);
    display: none;
}